body, html {
    height: 100%;
}
.bg { 

    background-image: url("../images/intersection.png");

    height: 100%; 

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.gemImage {
    max-block-size: 200px;
}
